link(href='http://cdn.bleacherreport.net/images/team_logos/328x328/seattle_seahawks.png', rel='icon')
div(class="container") this is my first paragraph
  p. 
    This is another form of paragraph, I plain to use this as an example
div(class="col-md-4")
  img(src="http://cdn.bleacherreport.net/images/team_logos/328x328/seattle_seahawks.png")
